body{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
.e2_2 { 
	overflow:hidden;
}
.e2_2 { 
	background-color:rgba(255, 255, 255, 1);
	width:1349px;
	height:625px;
	position:absolute;
}
.e101_156 { 
	background-color:rgba(45.00000111758709, 156.00000590085983, 219.0000021457672, 1);
	width:550px;
	height:625px;
	position:absolute;
	left:810px;
	top:0px;
}
.e101_242 { 
	width:300px;
	height:300px;
	position:absolute;
	left:953px;
	top:240px;
}
.e101_243 { 
	background-color:rgba(240.00000089406967, 240.00000089406967, 240.00000089406967, 1);
	width:50.395652770996094px;
	height:87.74918365478516px;
	position:absolute;
	left:45.299842834472656px;
	top:109.58020782470703px;
}
.e101_244 { 
	background-color:rgba(240.00000089406967, 240.00000089406967, 240.00000089406967, 1);
	width:119.41107177734375px;
	height:43.94354248046875px;
	position:absolute;
	left:79.63623046875px;
	top:214.28683471679688px;
}
.e101_245 { 
	background-color:rgba(240.00000089406967, 240.00000089406967, 240.00000089406967, 1);
	width:94.49610900878906px;
	height:133.27899169921875px;
	position:absolute;
	left:166.3093719482422px;
	top:117.80345153808594px;
}
.e101_246 { 
	background-color:rgba(240.00000089406967, 240.00000089406967, 240.00000089406967, 1);
	width:72.53083801269531px;
	height:69.8770751953125px;
	position:absolute;
	left:20.788339614868164px;
	top:188.82833862304688px;
}
.e101_247 { 
	background-color:rgba(240.00000089406967, 240.00000089406967, 240.00000089406967, 1);
	width:67.93438720703125px;
	height:13.20751953125px;
	position:absolute;
	left:199.44119262695312px;
	top:278.337158203125px;
}
.e101_248 { 
	background-color:rgba(240.00000089406967, 240.00000089406967, 240.00000089406967, 1);
	width:109.68077087402344px;
	height:20.181365966796875px;
	position:absolute;
	left:81.20333862304688px;
	top:90.41809844970703px;
}
.e101_249 { 
	background-color:rgba(240.00000089406967, 240.00000089406967, 240.00000089406967, 1);
	width:50.395660400390625px;
	height:87.74921417236328px;
	position:absolute;
	left:24.511507034301758px;
	top:111.2851791381836px;
}
.e101_250 { 
	background-color:rgba(240.00000089406967, 240.00000089406967, 240.00000089406967, 1);
	width:119.41105651855469px;
	height:43.94352722167969px;
	position:absolute;
	left:58.84791564941406px;
	top:215.99180603027344px;
}
.e101_251 { 
	background-color:rgba(240.00000089406967, 240.00000089406967, 240.00000089406967, 1);
	width:94.49607849121094px;
	height:133.27896118164062px;
	position:absolute;
	left:145.5210723876953px;
	top:119.5084457397461px;
}
.e101_252 { 
	background-color:rgba(240.00000089406967, 240.00000089406967, 240.00000089406967, 1);
	width:72.5308609008789px;
	height:69.87712097167969px;
	position:absolute;
	left:-0.000002050596549452166px;
	top:190.53330993652344px;
}
.e101_253 { 
	background-color:rgba(240.00000089406967, 240.00000089406967, 240.00000089406967, 1);
	width:67.93437194824219px;
	height:13.207489013671875px;
	position:absolute;
	left:178.65289306640625px;
	top:280.0421447753906px;
}
.e101_254 { 
	background-color:rgba(240.00000089406967, 240.00000089406967, 240.00000089406967, 1);
	width:109.68074035644531px;
	height:20.181381225585938px;
	position:absolute;
	left:60.415008544921875px;
	top:92.12308502197266px;
}
.e101_255 { 
	background-color:rgba(242.00000077486038, 242.00000077486038, 242.00000077486038, 1);
	width:36.95682144165039px;
	height:48.6971435546875px;
	position:absolute;
	left:3.8076283931732178px;
	top:156.2145538330078px;
}
.e101_256 { 
	background-color:rgba(255, 255, 255, 1);
	width:37.04457092285156px;
	height:44.81388854980469px;
	position:absolute;
	left:3.8649914264678955px;
	top:156.9007568359375px;
}
.e101_257 { 
	background-color:rgba(255, 255, 255, 1);
	width:1.8181991577148438px;
	height:9.58050537109375px;
	position:absolute;
	left:21.12269401550293px;
	top:160.8972625732422px;
}
.e101_258 { 
	background-color:rgba(255, 255, 255, 1);
	width:8.122934341430664px;
	height:3.7045440673828125px;
	position:absolute;
	left:17.29174041748047px;
	top:180.61578369140625px;
}
.e101_259 { 
	background-color:rgba(255, 255, 255, 1);
	width:3.129192352294922px;
	height:2.6913909912109375px;
	position:absolute;
	left:32.12726593017578px;
	top:161.07305908203125px;
}
.e101_260 { 
	background-color:rgba(242.00000077486038, 242.00000077486038, 242.00000077486038, 1);
	width:50.47481155395508px;
	height:30.579086303710938px;
	position:absolute;
	left:3.3342268466949463px;
	top:183.70091247558594px;
}
.e101_261 { 
	background-color:rgba(255, 255, 255, 1);
	width:50.413963317871094px;
	height:15.821670532226562px;
	position:absolute;
	left:3.5762526988983154px;
	top:190.8667755126953px;
}
.e101_262 { 
	background-color:rgba(255, 255, 255, 1);
	width:4.540401458740234px;
	height:7.896514892578125px;
	position:absolute;
	left:33.06867218017578px;
	top:184.01820373535156px;
}
.e101_263 { 
	background-color:rgba(255, 255, 255, 1);
	width:8.04319953918457px;
	height:4.008880615234375px;
	position:absolute;
	left:22.44411277770996px;
	top:198.36907958984375px;
}
.e101_264 { 
	background-color:rgba(255, 255, 255, 1);
	width:1.6125946044921875px;
	height:4.3505859375px;
	position:absolute;
	left:44.90021514892578px;
	top:191.73411560058594px;
}
.e101_265 { 
	background-color:rgba(242.00000077486038, 242.00000077486038, 242.00000077486038, 1);
	width:24.10906982421875px;
	height:58.106781005859375px;
	position:absolute;
	left:242.95367431640625px;
	top:221.83511352539062px;
}
.e101_266 { 
	background-color:rgba(255, 255, 255, 1);
	width:23.335739135742188px;
	height:58.06715393066406px;
	position:absolute;
	left:242.8118133544922px;
	top:221.55955505371094px;
}
.e101_267 { 
	background-color:rgba(255, 255, 255, 1);
	width:3.26837158203125px;
	height:8.978561401367188px;
	position:absolute;
	left:256.3238525390625px;
	top:233.18177795410156px;
}
.e101_268 { 
	background-color:rgba(255, 255, 255, 1);
	width:6.85491943359375px;
	height:6.82275390625px;
	position:absolute;
	left:251.19635009765625px;
	top:250.60317993164062px;
}
.e101_269 { 
	background-color:rgba(255, 255, 255, 1);
	width:3.5292510986328125px;
	height:1.5666961669921875px;
	position:absolute;
	left:246.48541259765625px;
	top:229.1156463623047px;
}
.e101_270 { 
	background-color:rgba(242.00000077486038, 242.00000077486038, 242.00000077486038, 1);
	width:45.669952392578125px;
	height:38.3856201171875px;
	position:absolute;
	left:220.72348022460938px;
	top:247.59600830078125px;
}
.e101_271 { 
	background-color:rgba(255, 255, 255, 1);
	width:45.6656494140625px;
	height:28.82476806640625px;
	position:absolute;
	left:220.56396484375px;
	top:251.60394287109375px;
}
.e101_272 { 
	background-color:rgba(255, 255, 255, 1);
	width:2.8498992919921875px;
	height:9.235397338867188px;
	position:absolute;
	left:238.82037353515625px;
	top:248.53855895996094px;
}
.e101_273 { 
	background-color:rgba(255, 255, 255, 1);
	width:8.501556396484375px;
	height:1.536895751953125px;
	position:absolute;
	left:240.87411499023438px;
	top:268.38238525390625px;
}
.e101_274 { 
	background-color:rgba(255, 255, 255, 1);
	width:2.5128936767578125px;
	height:3.6314239501953125px;
	position:absolute;
	left:227.42779541015625px;
	top:252.46595764160156px;
}
.e101_275 { 
	background-color:rgba(253.0000001192093, 101.00000157952309, 132.0000073313713, 1);
	width:7.07684326171875px;
	height:9.093231201171875px;
	position:absolute;
	left:190.9464569091797px;
	top:273.2891540527344px;
}
.e101_276 { 
	background-color:rgba(230.00000149011612, 230.00000149011612, 230.00000149011612, 1);
	width:7.076873779296875px;
	height:9.09326171875px;
	position:absolute;
	left:203.480224609375px;
	top:195.85003662109375px;
}
.e101_277 { 
	background-color:rgba(230.00000149011612, 230.00000149011612, 230.00000149011612, 1);
	width:7.0768890380859375px;
	height:9.093254089355469px;
	position:absolute;
	left:137.63829040527344px;
	top:69.73550415039062px;
}
.e101_278 { 
	background-color:rgba(242.00000077486038, 242.00000077486038, 242.00000077486038, 1);
	width:79.86865234375px;
	height:102.62020874023438px;
	position:absolute;
	left:67.02682495117188px;
	top:197.37979125976562px;
}
.e101_279 { 
	background-color:rgba(255, 255, 255, 1);
	width:33.360076904296875px;
	height:6.89990234375px;
	position:absolute;
	left:104.70419311523438px;
	top:211.99801635742188px;
}
.e101_280 { 
	background-color:rgba(255, 255, 255, 1);
	width:0.34502410888671875px;
	height:0.352691650390625px;
	position:absolute;
	left:91.16014862060547px;
	top:220.18328857421875px;
}
.e101_281 { 
	background-color:rgba(255, 255, 255, 1);
	width:19.024581909179688px;
	height:3.598114013671875px;
	position:absolute;
	left:72.1355209350586px;
	top:220.32301330566406px;
}
.e101_282 { 
	background-color:rgba(255, 255, 255, 1);
	width:30.799118041992188px;
	height:24.7288818359375px;
	position:absolute;
	left:88.26634979248047px;
	top:275.2711486816406px;
}
.e101_283 { 
	background-color:rgba(255, 184.00000423192978, 184.00000423192978, 1);
	width:22.889366149902344px;
	height:29.411087036132812px;
	position:absolute;
	left:93.04186248779297px;
	top:243.1532745361328px;
}
.e101_284 { 
	background-color:rgba(47.0000009983778, 46.000001057982445, 65.0000037252903, 1);
	width:24.148658752441406px;
	height:35.46807861328125px;
	position:absolute;
	left:91.57742309570312px;
	top:237.4669189453125px;
}
.e101_285 { 
	background-color:rgba(202.00000315904617, 202.00000315904617, 202.00000315904617, 1);
	width:299.9998779296875px;
	height:0.9869594573974609px;
	position:absolute;
	left:0.0000826008545118384px;
	top:16.778356552124023px;
}
.e101_286 { 
	background-color:rgba(63.000000044703484, 61.00000016391277, 86.00000247359276, 1);
	width:8.265018463134766px;
	height:10.856592178344727px;
	position:absolute;
	left:4.698991775512695px;
	top:0px;
}
.e101_287 { 
	background-color:rgba(63.000000044703484, 61.00000016391277, 86.00000247359276, 1);
	width:8.265016555786133px;
	height:10.856592178344727px;
	position:absolute;
	left:18.974939346313477px;
	top:0px;
}
.e101_288 { 
	background-color:rgba(63.000000044703484, 61.00000016391277, 86.00000247359276, 1);
	width:8.265029907226562px;
	height:10.856592178344727px;
	position:absolute;
	left:33.25088119506836px;
	top:0px;
}
.e101_289 { 
	background-color:rgba(63.000000044703484, 61.00000016391277, 86.00000247359276, 1);
	width:11.6461181640625px;
	height:1.9739253520965576px;
	position:absolute;
	left:280.17608642578125px;
	top:1.346386194229126px;
}
.e101_290 { 
	background-color:rgba(63.000000044703484, 61.00000016391277, 86.00000247359276, 1);
	width:11.646270751953125px;
	height:1.9739251136779785px;
	position:absolute;
	left:280.176025390625px;
	top:5.047497272491455px;
}
.e101_291 { 
	background-color:rgba(63.000000044703484, 61.00000016391277, 86.00000247359276, 1);
	width:11.646270751953125px;
	height:1.9739255905151367px;
	position:absolute;
	left:280.176025390625px;
	top:8.748607635498047px;
}
.e101_292 { 
	background-color:rgba(255, 255, 255, 1);
	width:85.83251953125px;
	height:43.018157958984375px;
	position:absolute;
	left:107.30326843261719px;
	top:141.2353973388672px;
}
.e101_293 { 
	background-color:rgba(63.000000044703484, 61.00000016391277, 86.00000247359276, 1);
	width:86.57389831542969px;
	height:43.97071838378906px;
	position:absolute;
	left:106.93258666992188px;
	top:140.7591094970703px;
}
.e101_294 { 
	background-color:rgba(255, 255, 255, 1);
	width:68.59648132324219px;
	height:2.467926025390625px;
	position:absolute;
	left:116.62997436523438px;
	top:153.204833984375px;
}
.e101_295 { 
	background-color:rgba(230.00000149011612, 230.00000149011612, 230.00000149011612, 1);
	width:68.47395324707031px;
	height:2.4679412841796875px;
	position:absolute;
	left:116.62997436523438px;
	top:158.4472198486328px;
}
.e101_296 { 
	background-color:rgba(230.00000149011612, 230.00000149011612, 230.00000149011612, 1);
	width:68.40769958496094px;
	height:2.4679412841796875px;
	position:absolute;
	left:116.62997436523438px;
	top:163.68936157226562px;
}
.e101_297 { 
	background-color:rgba(242.00000077486038, 242.00000077486038, 242.00000077486038, 1);
	width:79.86869812011719px;
	height:102.62022399902344px;
	position:absolute;
	left:209.39805603027344px;
	top:84.97663879394531px;
}
.e101_298 { 
	background-color:rgba(255, 255, 255, 1);
	width:33.360107421875px;
	height:6.899925231933594px;
	position:absolute;
	left:218.22927856445312px;
	top:99.59489440917969px;
}
.e101_299 { 
	background-color:rgba(255, 255, 255, 1);
	width:0.34503173828125px;
	height:0.35269927978515625px;
	position:absolute;
	left:264.7883605957031px;
	top:107.78016662597656px;
}
.e101_300 { 
	background-color:rgba(255, 255, 255, 1);
	width:19.02459716796875px;
	height:3.5980606079101562px;
	position:absolute;
	left:265.1334533691406px;
	top:107.9198989868164px;
}
.e101_301 { 
	background-color:rgba(255, 182.00000435113907, 182.00000435113907, 1);
	width:23.988662719726562px;
	height:31.51062774658203px;
	position:absolute;
	left:232.8342742919922px;
	top:127.22879791259766px;
}
.e101_302 { 
	background-color:rgba(255, 255, 255, 1);
	width:30.799118041992188px;
	height:24.728897094726562px;
	position:absolute;
	left:237.2281036376953px;
	top:162.86798095703125px;
}
.e101_303 { 
	background-color:rgba(47.0000009983778, 46.000001057982445, 65.0000037252903, 1);
	width:59.85552978515625px;
	height:40.56718444824219px;
	position:absolute;
	left:230.24725341796875px;
	top:119.67805480957031px;
}
.e101_304 { 
	background-color:rgba(242.00000077486038, 242.00000077486038, 242.00000077486038, 1);
	width:79.86865234375px;
	height:102.62020874023438px;
	position:absolute;
	left:30.70101547241211px;
	top:53.065582275390625px;
}
.e101_305 { 
	background-color:rgba(255, 255, 255, 1);
	width:33.360076904296875px;
	height:6.8999176025390625px;
	position:absolute;
	left:68.37838745117188px;
	top:67.68382263183594px;
}
.e101_306 { 
	background-color:rgba(255, 255, 255, 1);
	width:0.34502410888671875px;
	height:0.352691650390625px;
	position:absolute;
	left:54.8343391418457px;
	top:75.86911010742188px;
}
.e101_307 { 
	background-color:rgba(255, 255, 255, 1);
	width:19.024581909179688px;
	height:3.5980911254882812px;
	position:absolute;
	left:35.80970764160156px;
	top:76.0088119506836px;
}
.e101_308 { 
	background-color:rgba(255, 255, 255, 1);
	width:30.799114227294922px;
	height:24.728897094726562px;
	position:absolute;
	left:51.9405403137207px;
	top:130.9569091796875px;
}
.e101_309 { 
	background-color:rgba(158.00000578165054, 97.00000181794167, 106.00000128149986, 1);
	width:26.74258804321289px;
	height:34.362159729003906px;
	position:absolute;
	left:60.30117416381836px;
	top:91.91130828857422px;
}
.e101_310 { 
	background-color:rgba(47.0000009983778, 46.000001057982445, 65.0000037252903, 1);
	width:37.63704299926758px;
	height:38.245704650878906px;
	position:absolute;
	left:56.29957962036133px;
	top:87.4976577758789px;
}
.e101_311 { 
	color:rgba(255, 255, 255, 1);
	width:555px;
	height:164px;
	position:absolute;
	left:825px;
	top:16px;
	font-family:Rubik;
	text-align:center;
	font-size:50px;
	letter-spacing:0;
}
.e101_314 { 
	width:404px;
	height:281px;
	position:absolute;
	left:200px;
	top:170px;
}
.e101_316 { 
	color:rgba(0, 0, 0, 1);
	width:630px;
	height:189px;
	position:absolute;
	left:87px;
	top:8px;
	font-family:Rubik;
	text-align:center;
	font-size:48px;
	letter-spacing:0;
}
.e101_320 { 
	height:61px;
	position:absolute;
	left:370px;
	top:504px;
}
.e101_319 { 
	color:rgba(0, 0, 0, 1);
	width:467px;
	height:36px;
	position:absolute;
	left:178px;
	top:466px;
	font-family:Rubik;
	text-align:center;
	font-size:18px;
	letter-spacing:0;
}
