body{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
.e108_3 { 
	overflow:hidden;
}
.e108_3 { 
	background-color:rgba(255, 255, 255, 1);
	width:1366px;
	height:625px;
	position:absolute;
}
.e108_4 { 
	background-color:rgba(47.0000009983778, 128.0000075697899, 237.0000010728836, 1);
	width:592px;
	height:625px;
	position:absolute;
	left:774px;
	top:0px;
}
.e108_8 { 
	width:350px;
	height:400px;
	position:absolute;
	left:912px;
	top:25px;
}
.e108_9 { 
	background-color:rgba(242.00000077486038, 242.00000077486038, 242.00000077486038, 1);
	width:316.34039306640625px;
	height:374.84765625px;
	position:absolute;
	left:0.00003208007910870947px;
	top:-0.0000016430664118161076px;
}
.e108_10 { 
	background-color:rgba(63.000000044703484, 61.00000016391277, 86.00000247359276, 1);
	width:310.7326354980469px;
	height:83.5877685546875px;
	position:absolute;
	left:31.50206184387207px;
	top:316.41229248046875px;
}
.e108_11 { 
	background-color:rgba(0, 0, 0, 1);
	opacity:0.10000000149011612;
	width:310.7326354980469px;
	height:83.5877685546875px;
	position:absolute;
	left:31.50206184387207px;
	top:316.41229248046875px;
}
.e108_12 { 
	background-color:rgba(63.000000044703484, 61.00000016391277, 86.00000247359276, 1);
	width:310.7326354980469px;
	height:69.6668701171875px;
	position:absolute;
	left:31.50206184387207px;
	top:313.64105224609375px;
}
.e108_13 { 
	opacity:0.699999988079071;
	width:55.075164794921875px;
	height:107.31475830078125px;
	position:absolute;
	left:284.41693115234375px;
	top:55.760528564453125px;
}
.e108_14 { 
	background-color:rgba(255, 255, 255, 1);
	opacity:0.699999988079071;
	width:47.091644287109375px;
	height:60.28703308105469px;
	position:absolute;
	left:7.9835205078125px;
	top:0px;
}
.e108_15 { 
	background-color:rgba(255, 255, 255, 1);
	opacity:0.699999988079071;
	width:5.940673828125px;
	height:6.701652526855469px;
	position:absolute;
	left:14.203826904296875px;
	top:55.35045623779297px;
}
.e108_16 { 
	opacity:0.699999988079071;
	width:3.93597412109375px;
	height:2.2646026611328125px;
	position:absolute;
	left:15.26690673828125px;
	top:57.474220275878906px;
}
.e108_16 { 
	border:2px solid rgba(47.0000009983778, 46.000001057982445, 65.0000037252903, 1);
}
.e108_17 { 
	transform: rotate(-65.4535282713862deg);
	background-color:rgba(255, 255, 255, 1);
	opacity:0.4000000059604645;
	width:12.763655662536621px;
	height:9.9198637008667px;
	position:absolute;
	left:38.130859375px;
	top:24.35700798034668px;
}
.e108_18 { 
	opacity:0.699999988079071;
	width:17.069061279296875px;
	height:48.454803466796875px;
	position:absolute;
	left:0px;
	top:58.859954833984375px;
}
.e108_18 { 
	border:2px solid rgba(47.0000009983778, 46.000001057982445, 65.0000037252903, 1);
}
.e108_19 { 
	background-color:rgba(255, 101.00000157952309, 132.0000073313713, 1);
	width:71.4420166015625px;
	height:80.7526626586914px;
	position:absolute;
	left:278.5500183105469px;
	top:108.4839096069336px;
}
.e108_20 { 
	background-color:rgba(255, 101.00000157952309, 132.0000073313713, 1);
	width:8.884063720703125px;
	height:10.022018432617188px;
	position:absolute;
	left:280.0780334472656px;
	top:177.65953063964844px;
}
.e108_21 { 
	border:2px solid rgba(47.0000009983778, 46.000001057982445, 65.0000037252903, 1);
}
.e108_21 { 
	width:4.487701416015625px;
	height:4.9771575927734375px;
	position:absolute;
	left:282.3946533203125px;
	top:180.08258056640625px;
}
.e108_22 { 
	border:2px solid rgba(47.0000009983778, 46.000001057982445, 65.0000037252903, 1);
}
.e108_22 { 
	width:42.01280212402344px;
	height:47.81367492675781px;
	position:absolute;
	left:241.6558380126953px;
	top:183.88645935058594px;
}
.e108_23 { 
	transform: rotate(-48.69498821065659deg);
	background-color:rgba(255, 255, 255, 1);
	opacity:0.4000000059604645;
	width:17.58746910095215px;
	height:14.640767097473145px;
	position:absolute;
	left:326.0220947265625px;
	top:146.1338348388672px;
}
.e108_24 { 
	background-color:rgba(255, 255, 255, 1);
	width:65.40904235839844px;
	height:88.53795623779297px;
	position:absolute;
	left:236.43003845214844px;
	top:79.1363754272461px;
}
.e108_25 { 
	background-color:rgba(255, 255, 255, 1);
	width:7.567901611328125px;
	height:8.537338256835938px;
	position:absolute;
	left:254.63360595703125px;
	top:162.87574768066406px;
}
.e108_26 { 
	border:2px solid rgba(47.0000009983778, 46.000001057982445, 65.0000037252903, 1);
}
.e108_26 { 
	width:6.1275482177734375px;
	height:1.8471221923828125px;
	position:absolute;
	left:255.4091339111328px;
	top:166.1807861328125px;
}
.e108_27 { 
	transform: rotate(-78.06332165179083deg);
	background-color:rgba(255, 255, 255, 1);
	opacity:0.4000000059604645;
	width:18.495071411132812px;
	height:13.8423490524292px;
	position:absolute;
	left:277.0237121582031px;
	top:111.58984375px;
}
.e108_28 { 
	border:2px solid rgba(47.0000009983778, 46.000001057982445, 65.0000037252903, 1);
}
.e108_28 { 
	width:13.843948364257812px;
	height:65.48643493652344px;
	position:absolute;
	left:244.47642517089844px;
	top:168.67388916015625px;
}
.e108_29 { 
	opacity:0.800000011920929;
	width:50.616275787353516px;
	height:56.751495361328125px;
	position:absolute;
	left:63.244754791259766px;
	top:253.044677734375px;
}
.e108_30 { 
	background-color:rgba(255, 255, 255, 1);
	opacity:0.800000011920929;
	width:50.616275787353516px;
	height:56.751495361328125px;
	position:absolute;
	left:0px;
	top:0px;
}
.e108_31 { 
	background-color:rgba(255, 255, 255, 1);
	opacity:0.800000011920929;
	width:6.2676544189453125px;
	height:7.070465087890625px;
	position:absolute;
	left:0.8641319274902344px;
	top:48.33740234375px;
}
.e108_32 { 
	opacity:0.800000011920929;
	width:3.1096420288085938px;
	height:3.575531005859375px;
	position:absolute;
	left:2.5278053283691406px;
	top:50.016448974609375px;
}
.e108_32 { 
	border:2px solid rgba(47.0000009983778, 46.000001057982445, 65.0000037252903, 1);
}
.e108_33 { 
	transform: rotate(-47.667483921096036deg);
	background-color:rgba(255, 255, 255, 1);
	opacity:0.4000000059604645;
	width:12.382087707519531px;
	height:10.352214813232422px;
	position:absolute;
	left:33.68741989135742px;
	top:26.694034576416016px;
}
.e108_34 { 
	background-color:rgba(47.0000009983778, 46.000001057982445, 65.0000037252903, 1);
	width:38.024688720703125px;
	height:42.89533233642578px;
	position:absolute;
	left:189.860595703125px;
	top:87.0420913696289px;
}
.e108_35 { 
	background-color:rgba(255, 185.00000417232513, 185.00000417232513, 1);
	width:11.082290649414062px;
	height:28.414596557617188px;
	position:absolute;
	left:181.13522338867188px;
	top:198.73390197753906px;
}
.e108_36 { 
	background-color:rgba(0, 0, 0, 1);
	opacity:0.10000000149011612;
	width:11.082290649414062px;
	height:28.414596557617188px;
	position:absolute;
	left:181.13522338867188px;
	top:198.73390197753906px;
}
.e108_37 { 
	background-color:rgba(87.00000241398811, 90.00000223517418, 137.00000703334808, 1);
	width:9.609634399414062px;
	height:29.667495727539062px;
	position:absolute;
	left:182.3675994873047px;
	top:180.9203338623047px;
}
.e108_38 { 
	background-color:rgba(255, 185.00000417232513, 185.00000417232513, 1);
	width:19.218505859375px;
	height:27.765945434570312px;
	position:absolute;
	left:200.3218994140625px;
	top:115.78434753417969px;
}
.e108_39 { 
	background-color:rgba(0, 0, 0, 1);
	opacity:0.10000000149011612;
	width:19.218505859375px;
	height:27.765945434570312px;
	position:absolute;
	left:200.3218994140625px;
	top:115.78434753417969px;
}
.e108_40 { 
	background-color:rgba(255, 185.00000417232513, 185.00000417232513, 1);
	width:10.629592895507812px;
	height:28.587081909179688px;
	position:absolute;
	left:236.7358856201172px;
	top:206.30892944335938px;
}
.e108_41 { 
	background-color:rgba(255, 185.00000417232513, 185.00000417232513, 1);
	width:15.172515869140625px;
	height:31.64874267578125px;
	position:absolute;
	left:214.98866271972656px;
	top:329.84521484375px;
}
.e108_42 { 
	background-color:rgba(47.0000009983778, 46.000001057982445, 65.0000037252903, 1);
	width:46.752899169921875px;
	height:126.71351623535156px;
	position:absolute;
	left:190.20689392089844px;
	top:214.29637145996094px;
}
.e108_43 { 
	background-color:rgba(0, 0, 0, 1);
	opacity:0.10000000149011612;
	width:46.752899169921875px;
	height:126.71351623535156px;
	position:absolute;
	left:190.20689392089844px;
	top:214.29637145996094px;
}
.e108_44 { 
	background-color:rgba(47.0000009983778, 46.000001057982445, 65.0000037252903, 1);
	width:38.228240966796875px;
	height:24.324188232421875px;
	position:absolute;
	left:197.00167846679688px;
	top:348.29510498046875px;
}
.e108_45 { 
	background-color:rgba(255, 185.00000417232513, 185.00000417232513, 1);
	width:31.62346649169922px;
	height:26.244537353515625px;
	position:absolute;
	left:114.90633392333984px;
	top:307.29327392578125px;
}
.e108_46 { 
	background-color:rgba(47.0000009983778, 46.000001057982445, 65.0000037252903, 1);
	width:90.65928649902344px;
	height:132.57899475097656px;
	position:absolute;
	left:130.40109252929688px;
	top:193.1866912841797px;
}
.e108_47 { 
	background-color:rgba(47.0000009983778, 46.000001057982445, 65.0000037252903, 1);
	width:35.593048095703125px;
	height:33.70648193359375px;
	position:absolute;
	left:97.55694580078125px;
	top:305.53662109375px;
}
.e108_48 { 
	background-color:rgba(255, 185.00000417232513, 185.00000417232513, 1);
	width:24.275985717773438px;
	height:27.385589599609375px;
	position:absolute;
	left:196.7816619873047px;
	top:95.62553405761719px;
}
.e108_49 { 
	background-color:rgba(208.0000028014183, 205.00000298023224, 225.00000178813934, 1);
	width:35.847259521484375px;
	height:79.3314437866211px;
	position:absolute;
	left:185.2103729248047px;
	top:127.0048599243164px;
}
.e108_50 { 
	background-color:rgba(87.00000241398811, 90.00000223517418, 137.00000703334808, 1);
	width:16.797027587890625px;
	height:63.62464904785156px;
	position:absolute;
	left:187.1724090576172px;
	top:124.76715087890625px;
}
.e108_51 { 
	background-color:rgba(87.00000241398811, 90.00000223517418, 137.00000703334808, 1);
	width:43.61369323730469px;
	height:115.8705825805664px;
	position:absolute;
	left:193.1757354736328px;
	top:122.93451690673828px;
}
.e108_52 { 
	background-color:rgba(87.00000241398811, 90.00000223517418, 137.00000703334808, 1);
	width:23.463485717773438px;
	height:73.41339111328125px;
	position:absolute;
	left:226.1151580810547px;
	top:139.55657958984375px;
}
.e108_53 { 
	background-color:rgba(47.0000009983778, 46.000001057982445, 65.0000037252903, 1);
	width:26.804946899414062px;
	height:11.269180297851562px;
	position:absolute;
	left:195.5172119140625px;
	top:94.6758804321289px;
}
.e108_54 { 
	transform: rotate(-18.102094636752284deg);
	background-color:rgba(255, 185.00000417232513, 185.00000417232513, 1);
	width:1.9537595510482788px;
	height:5.767861843109131px;
	position:absolute;
	left:194.98170471191406px;
	top:108.9081802368164px;
}
.e108_55 { 
	transform: rotate(-75.59397737815922deg);
	background-color:rgba(255, 185.00000417232513, 185.00000417232513, 1);
	width:5.767861366271973px;
	height:1.9537596702575684px;
	position:absolute;
	left:219.14991760253906px;
	top:113.88766479492188px;
}
.e108_56 { 
	background-color:rgba(242.00000077486038, 242.00000077486038, 242.00000077486038, 1);
	width:31.195709228515625px;
	height:47.9893798828125px;
	position:absolute;
	left:303.9769287109375px;
	top:298.638671875px;
}
.e108_57 { 
	background-color:rgba(63.000000044703484, 61.00000016391277, 86.00000247359276, 1);
	width:13.076202392578125px;
	height:47.9832763671875px;
	position:absolute;
	left:312.73773193359375px;
	top:298.638671875px;
}
.e108_58 { 
	color:rgba(255, 255, 255, 1);
	width:534px;
	height:141px;
	position:absolute;
	left:799px;
	top:449px;
	font-family:Rubik;
	text-align:center;
	font-size:48px;
	letter-spacing:0;
}
.e108_59 { 
	color:rgba(0, 0, 0, 1);
	width:534px;
	height:141px;
	position:absolute;
	left:129px;
	top:21px;
	font-family:Rubik;
	text-align:center;
	font-size:48px;
	letter-spacing:0;
}
.e108_60 { 
	width:490px;
	height:582px;
	position:absolute;
	left:151px;
	top:10px;
}
body {
	color: #fff;
	background: #63738a;
	font-family: 'Roboto', sans-serif;
}
.form-control {
	height: 40px;
	box-shadow: none;
	color: #969fa4;
}
.form-control:focus {
	border-color: #5cb85c;
}
.form-control, .btn {        
	border-radius: 3px;
}
.signup-form {
	width: 450px;
	margin: 0 auto;
	padding: 30px 0;
  	font-size: 15px;
}
.signup-form h2 {
	color: #636363;
	margin: 0 0 15px;
	position: relative;
	text-align: center;
}
.signup-form h2:before, .signup-form h2:after {
	content: "";
	height: 2px;
	width: 30%;
	background: #d4d4d4;
	position: absolute;
	top: 50%;
	z-index: 2;
}	
.signup-form h2:before {
	left: 0;
}
.signup-form h2:after {
	right: 0;
}
.signup-form .hint-text {
	color: #999;
	margin-bottom: 30px;
	text-align: center;
}
.signup-form form {
	color: #999;
	border-radius: 3px;
	margin-bottom: 15px;
	background: #f2f3f7;
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
	padding: 30px;
}
.signup-form .form-group {
	margin-bottom: 20px;
}
.signup-form input[type="checkbox"] {
	margin-top: 3px;
}
.signup-form .btn {        
	font-size: 16px;
	font-weight: bold;		
	min-width: 140px;
	outline: none !important;
}
.signup-form .row div:first-child {
	padding-right: 10px;
}
.signup-form .row div:last-child {
	padding-left: 10px;
}    	
.signup-form a {
	color: #fff;
	text-decoration: underline;
}
.signup-form a:hover {
	text-decoration: none;
}
.signup-form form a {
	color: #5cb85c;
	text-decoration: none;
}	
.signup-form form a:hover {
	text-decoration: underline;
}  